{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}

<section>
    <h2>Presentación</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime repellat minima earum voluptatibus nihil nulla, esse ea repudiandae amet eos, voluptas natus vero quasi rem dolores sunt sit assumenda aliquid..</p>
</section>

<section>
    <h2>Características principales</h2>
    <ul>
        <li>Característica 1</li>
        <li>Característica 2</li>
        <li>Característica 3</li>
    </ul>
</section>
{% endblock %}