{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
<div class="div-menu">
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/estufas/">Estufas</a></li>
      <li><a href="/contacto/">Contacto</a></li>
    </ul>
  </nav>
</div>
<div>
    <div>
        <div>
            <div>
                <table>
                    {% block content %}
                    {% endblock %}
                </table>
            </div>
        </div>
    </div>
</div>

<footer>
    <div>
        <p>© 2023 Mi Sitio. Todos los derechos reservados.</p>
    </div>
</footer>
</body>
</html>
