.estufa-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .estufa-image {
    width: 300px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .estufa-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .estufa-description {
    margin-top: 10px;
  }
  
  .estufa-text {
    max-width: 600px;
    margin-top: 20px;
  }
  
  .estufa-text p {
    margin-bottom: 10px;
  }
  