{% extends 'base.html' %}
{% load static %}
{% block title %}{{ estufa.titulo }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/estufas/detalle.css' %}">

<section class="estufa-section">
  <div>
    <img src="{{ estufa.imagen.url }}" alt="{{ estufa.titulo }}" class="estufa-image">
    <div>
      <h2 class="estufa-title">{{ estufa.titulo }}</h2>
      <p class="estufa-description">{{ estufa.descripcion }}</p>
    </div>
  </div>
  <div class="estufa-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam perspiciatis fuga error officiis dolores aperiam ipsam commodi minus fugiat unde reiciendis similique atque eum totam quo dolorum sequi, consectetur odio.</p>
  </div>
</section>
{% endblock %}
